header{
    background-color: coral;
    margin:0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    text-align:center;
}

h1{
    font-weight: bolder;
}

.page {
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

body{
    margin left: 22,5%;
    float: right;

}
div{
    width: 1210px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
} 