header{
    background-color: coral;
    margin:0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    text-align:center;
}

h1{
    font-weight: bolder;
}

.page {
    background-color: wheat;
    display: flex;
    justify-content: center;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.author-text {
  font-weight: bold;
  font-size: small;
  color: #ff5722;
}

.date-text {
  font-size: small;
  font-weight: bold;
  opacity: 40%;
  padding-left: 5px;
}

.author-date-box {
  display: flex;
  flex-direction: row;
}

.subtitle {
  margin-bottom: 0;
}

img{
  width: 100%;
}



@media only screen and (max-width: 550px) {
  .page-content {
    width: 100%;
  }
}